<div class="pagehead">
	<ul class="tabs">
		<li><a href="/">Projects</a></li>
		<li><a class="selected" href="/configuration">Configuration</a></li>
		<li><a href="/acknowledgement">Acknowledgement</a></li>
	</ul>
</div>
<div class="introduction_title">
   * 配置文件
</div>
<div class="introduction_title">
   项目的配置文件为config/project.yml。
</div>
<div class="introduction_title">
   下面通过一个例子来讲述该配置文件的用法。
</div>
<div class="introduction_title">  假如你有两个项目，project1和project2，它们同处在同一版本仓库的trunk目录下，它们用的都是c#（iRefactoring目前不支持多语言项目），使用的版本控制工具是Hg，则project.yml应该写成这样：
</div>
<div class="introduction_title">
	<pre>
   :vcs: Hg
   :language: csharp
   :projects:
      - project1
      - project2
</pre>
</div>
<div class="introduction_title">
   * 数据导入
</div>
<div class="introduction_title">
   系统报表需要三部分数据：代码提交的log，测试覆盖率，圈复杂度。
</div>
<div class="introduction_title">
   log文件需要放在projects目录下，你可以用hg log -v >> hg.txt，或者svn log -v >> svn.txt，git log --name-status >> git.txt 来得到log文件，然后复制到projects目录。
</div>
<div class="introduction_title">
</div>
