<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<div id="complexity_graph">
	<%= @complexity_graph %>
</div>
<div>~~~~~~~~~~~~~~~~</div>
<div id="coverage_graph">
	<%= @coverage_graph %>
</div>